/*
//
//      PROFILE PAGE
//
*/

.profilePicture{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

/*
//
//      HOMEPAGE
//
*/


/*
//
//      LOGIN PAGE + SIGN UP PAGE
//
*/


/*
//
//      EDIT PROFILE PAGE
//
*/