@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{

    background-color: #FAFAFA;
    color: #4b4f54;
	z-index: -999;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
}
.container{
	
	max-width: 955px;
}

.notifications{
	margin-bottom: 0;
	min-height: 75vh;
}

a:hover{
	text-decoration: none;
}

footer{
	text-align: center;
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

footer, .push{
	height: 20px;
}

.footerWrap{
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.footer--login{
	color: #fff;
	text-shadow: 1px 1px #000;
}

/*test class*/
.problem{
	background-color: red;
	color: yellow;
}
/*
//
//      PROFILE PAGE
//
*/

.nav--profile nav{
	margin-bottom: 0;
	border-bottom: none;
}

.header--profile{
	display: block;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.container--custom--header{
	max-width: 930px;
	margin-left: auto;
	margin-right: auto;
}

.profileheader{
	padding: 20px 5px;
	max-width: 600px;
}

.profileheader__picture{
	max-width: 150px;
	max-height: 150px;
	border-radius: 100%;
	border: 2px solid #FAFAFA;
}

.profileheader__about__name{
	display: inline;
	font-size: 1em;
	font-weight: bold;
}

.profileheader__username{
	font-size: 2em;
	margin: 0 0 10px 0;
}

.profileheader__profilestats{
	margin: 0;
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #FAFAFA;
	padding-top: 15px;
	font-weight: bold;
}
.profileheader__profilestats a{
	text-decoration: none;
	color: #4b4f54;
}
.profilestats__item{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 33.33%
}
.profileheader__top{
	display: flex;
}
.profileheader__picture{
	width: 25%;
	height: 25%;
	margin: 0 20px 0 0;
}
.profileheader__top__title{
	display: flex;
	flex-direction: column;
}

.profileheader__profilestats--big,.profileheader__about--big{
	display: none;
}


/* 
//
//		Image upload
//
*/

.filterSelection{
	display: none;
	width: 100%;
	margin-top: 25px;
	height: auto;
}

.filterPreview{
	width: 80px;
}

.filterSelection ul{
	width: 100%;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 0;
	padding-left: 0;
}

.filterSelection ul li{
	text-indent: -9999px;
	display: block;
	margin: 0;
	padding: 0;
	width: 80px;
	list-style-type: none;
	margin-bottom: 25px;
	margin-right: 25px;
}

/*
//
//      HOMEPAGE
//
*/
.postsWrapper{
	display: block;
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.postTimeline{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid #eee;
	margin-bottom: 25px;
}

.timelineLocation{
	margin-left: 62px;
	margin-top: -27px;
	font-size: .9em;
}

.postLocation{
	margin-left: 54px;
	margin-top: -22px;
}

.postHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.postUser img{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
}

.postUser a{
	margin-left: 5px;
	margin-top: 15px;
	
	font-size: 1.1em;
	color: #31618B;
	font-weight: 300;
}

.postTimestamp{
	margin-top: 20px;
	color: #a2a2a2;
	margin-right: 15px;
}

.postTimeline .postImage{
	width: 100%;
	display: block;
}

.postImage img{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#myList a{
	display: none;
}

#searchResults {
    display: none;
    top:40px;
    position: relative;;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    width: 200px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: -30px;
    margin-top: 0px;
	margin-bottom: 0;
    text-align: left; /* enkel nodig als zoekbox in het midden staat */
	z-index: 999;
	position: relative;
	left: -40%;
	
}
#searchResults img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 3px;
}
#searchResults:after,
#searchResults:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
	position: absolute;
	left: 0;
	right: 0;
    pointer-events: none;
	display: block;

}

#searchResults:after {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #ffffff;
    border-width: 14px;
    left: 50%;
    margin-left: -14px;
}
#searchResults:before {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #c4c4c4;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
}

/*
//
//		SEARCH.PHP
//
*/
.loadbutton {
	display: block;
	width: 150px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	cursor: pointer;
}
.circle {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fafafa;
  box-shadow: 60px -60px 0 2px #fafafa, -60px -60px 0 2px #fafafa, -60px 60px 0 2px #fafafa, 60px 60px 0 2px #fafafa, 0 0 0 2px #fafafa;
}
.circle .loadmore, .loadmorePosts {
  position: absolute;
  top: 38px;
  left: 30px;
  width: 60px;
  color: #31618B;
  text-align: center;
  text-transform: uppercase;
  //font: 18px sans-serif;
  transition: opacity .2s ease;
}
.circle:hover {
  animation: border .3s ease 1 forwards;
}
.circle:hover .loadmore, .loadmorePosts {
  opacity: 1;
}
@keyframes border {
  0% {
    box-shadow: 60px -60px 0 2px #fafafa, -60px -60px 0 2px #fafafa, -60px 60px 0 2px #fafafa, 60px 60px 0 2px #fafafa, 0 0 0 2px #31618B;
  }
  25% {
    box-shadow: 0 -125px 0 2px #fafafa, -60px -60px 0 2px #fafafa, -60px 60px 0 2px #fafafa, 60px 60px 0 2px #fafafa, 0 0 0 2px #31618B;
  }
  50% {
    box-shadow: 0 -125px 0 2px #fafafa, -125px 0px 0 2px #fafafa, -60px 60px 0 2px #fafafa, 60px 60px 0 2px #fafafa, 0 0 0 2px #31618B;
  }
  75% {
    box-shadow: 0 -125px 0 2px #fafafa, -125px 0px 0 2px #fafafa, 0px 125px 0 2px #fafafa, 60px 60px 0 2px #fafafa, 0 0 0 2px #31618B;
  }
  100% {
    box-shadow: 0 -125px 0 2px #fafafa, -125px 0px 0 2px #fafafa, 0px 125px 0 2px #fafafa, 120px 40px 0 2px #fafafa, 0 0 0 2px #31618B;
  }
}

.loadbuttonNoFeed{
	font-size: 18px;
	width: 240px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
//
//      LOGIN PAGE + SIGN UP PAGE
//
*/

.background--full{
	display: block;
	width: 100vw;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1440613905118-99b921706b5c?crop=entropy&fit=crop&fm=jpg&h=900&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 10vh;
	
}

.page--wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

.page--wrap__welcome{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.form--login{
	background-color: #fff;
	width: 90%;
	max-width: 360px;
	padding: 20px 15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	margin-bottom: 50px;
}

.form--login__logo{
	display: block;
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.form--login__tagline{
	text-align: center;
	margin-bottom: 20px;
}

.form--login__btn{
	width: 100%;
}
/*
//
//      EDIT PROFILE PAGE
//
*/

.profPic{
	width: 150px;
	height: 150px;
}

.accountSettings{
	margin-top: 50px;
}
/*
//
//      NAVIGATION
//
*/

.nav{
	display: block;
	width: 100%;
	padding: 5px 0;
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 25px;
}

.nav__container{
	width: 97%;
	margin: auto;
	max-width: 930px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo{
	display: block;
	text-indent: -9999px;
	width: 25%;
	max-width: 150px;
	height: 40px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center left;
}
.nav__links{
	font-size: 1.5em;
	display: flex;
	width: 30%;
	max-width: 190px;
	justify-content: space-between;
}
.nav__links__item{
	color: #777;
//margin-left: 15px;
}
.nav__form{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	width: 40%;
	max-width: 230px;
	max-height: 30px;
}

.hashtagSearch{
	display: block;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: -2px;
	float: left;
	color: black;
	font-size: 1.5em;
	color: #a2a2a2;
	text-decoration: none;
	position: absolute;
}

.searchTag a{
	margin-left: 55px;
}

.searchTag a p{
	margin-top: -5px;
}

.searchTag{
	margin-bottom: 10px;
}

nav li a{
	font-size: 1.5em;
}

.navbar{
    background-color: #fff;
    border-radius: 0;
}

nav .navbar-form{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}


/*
	//
	// CUSTOM CONTAINER
	//
*/
.container--custom{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}


/*
	//
	// USERNAME WITH PICTURE
	//
*/
.userinfo{
	display: flex;
	align-items: center;
}

.userinfo__text{
	display: flex;
	flex-direction: column;
}

.userinfo__picture{
	height: 43px;
	width: 43px;
	border-radius: 100%;
	border: 1px solid #FAFAFA;
	margin-right: 10px;
}

.userinfo__location{
	font-size: 0.9em;
}

.userinfo__name{
	font-size: 0.9em;
}

.followlist{
	list-style: none;
	margin: 0;
	padding: 0;
}

.followlist li{
	margin: 20px 0;
}
/*
	//
	// POST DESIGN
	//
*/
.post{
	background-color: #fff;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 0;

}

.post--timeline{
	background-color: #FAFAFA
}

.post__header{
	margin: 0 15px 15px 15px;
}

.post__image{
	max-width: 100%;
}

.post__info{
	display: flex;
	justify-content: space-between;

	margin: 10px 15px;
}

.post__description,.post__comments,.post__actions{
	margin: 10px 15px;
}

.post__comments__more:link{
	color: #999;
	text-decoration: none;
}
.post__comments__more:visited{
	color: #999;
}
.post__comments__more:hover{
	color: #666;
}
.post__comments__more:active{
	color: #666;
}

.post__comments ul{
	list-style: none;
}

.comments__list{
	list-style: none;
	padding: 0;
	margin: 15px 0 25px 0;
}

.post__actions{
	display: flex;
	flex-direction: row;
}

#inputComment{
	border: none;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
}

.heart{
	border: none;
	outline: none;
	text-indent: -9999px;
	background-color: transparent;
	display: block;
	height: 37px;
	width: 37px;
	background-image: url(../images/heart.svg);
	background-repeat: no-repeat;
	margin-right: 10px;

	background-position: center;
	transition: background-image 0.5s ease-in;
	background-size: 90%;
}

.heart--like{
	background-image: url(../images/heart-red.svg);
}

.heart:hover{
	background-size: 100%;
}

/*
	//
	// FLAG AND DELETE POST
	//
*/

.post__delete{
	background-color: transparent;
	border: 1px solid transparent;
}

.post__flag{
	margin-right: 5px;
	background-color: transparent;
	border: 1px solid transparent;
	width: 40px;
	height: 40px;
	padding: 5px;
	outline: none;
}

.glyphicon-flag{
	font-size: 30px;
	padding: 5px;
}

.flagDeleteWrap{
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(102, 102, 102, .4);
	overflow: auto;
	z-index: 998;
}

.flagDeleteMenu{
	background-color: #fff;
	border-radius: 4px;
	width: 250px;
	height: auto;
	opacity: 1;
	position: absolute;
	top: 50%;
	margin-top: -70px;
	left: 50%;
	margin-left: -125px;
}

.flagDeleteMenu div{
	height: 40px;
	width: 100%;
	text-align: center;
}

.flagDeleteMenu div:hover{
	background-color: #eee;
	border-radius: 4px;
}


.commentsFlag--Individual{
	width: 100%;
	display: block;
}

.commentsFlag--Individual button{
	border-radius: 4px;
	width: 100%;
}

.commentsFlag{
	width: 100%;
	display: block;
}

.commentsFlag button{
	border-radius: 4px;
	width: 100%;
}

.cancelFlagDelete{
	padding-top: 10px;
}

.flagged{
	background-color: #e92a31;
	color: white;
	position: relative;
	border-radius: 4px;
}

.deleteOwnPost button{
	border-radius: 4px;
	width: 100%;
	padding-top: 10px;
}

.flagDeleteButton{
	display: flex;
	justify-content: flex-end;
	margin-right: 11px;
	font-size: 20px;
}

.scheidingStreep{
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
	height: 1px;
}

.flagDeleteButton a{
	color: gray;
	text-decoration: none;
	height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#btnDeletePost{
	padding-top: 10px;
}

/*
//
//      TAG
//
*/

.tagpageHeader{
    text-align: center;
}

.tagpageHeader span{
    font-weight: bold;
}

/*
//
//      MORE RESULTS
//
*/

.scheiding{
	width: 100%;
	height: 1px;
	background-color: #447097;
	margin-bottom: 30px;
}

.moreResults{
	width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.moreResults h3{
	margin-bottom: 10px;
}

.moreResults img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
	margin-top: 10px;
}

.moreResults .searchTag a{
	margin-left: 65px;
}

.moreResultsLink a{
	margin-left: 30px;
}

/*
//
//      NOTIFICATIONS PAGE
//
*/

.friendrequests{
	list-style: none;
	padding: 0;
	margin: 0;
}
.friendrequests li{
	list-style: none;
}
.friendrequests__item{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
	width: 100%;
	max-width: 360px;
}

/*
//
//      GALLERY IMAGE GRID
//
*/
.ownContainer{
	width: 99%;
	max-width: 930px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	/* plaatsing */
	/*width: 99%;
	max-width: 930px;
	margin-left: auto;
	margin-right: auto;*/
}

.gallery__item{
	display: block;
	width: 31vw;
	height: 31vw;
	max-width: 300px;
	max-height: 300px;
	margin-bottom: 10px;
	//margin-left: 0.1vw;
	//margin-right: 0.1vw;

	background-color: #ffffff;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/*
//
//      BLINKING NOTIFICATION
//
*/


@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */
.glyphicon-bell{
	color: #3a6ff5;
}
.blink {
	color: #2a63f4;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 2s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	transition:all 2s ease-in-out;
	/* order: name, direction, duration, iteration-count, timing-function */
	-moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal 2s infinite ease-in-out; /* IE */
	animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}


@media (min-width: 400px){
	#searchResults{
		position: relative;
		left: 5%;
	}
	
	.notifications{
	margin-bottom: 0;
	min-height: 80vh;
	}
}

@media (min-width: 600px) {
	.post--timeline{
		background-color: #fff;
	}
	#inputComment{
		background-color: #fff;
	}
	
	.notifications{
	margin-bottom: 0;
	min-height: 88vh;
	}
}

@media (min-width: 480px) {
	.profileheader__profilestats--small,.profileheader__about--small{
		display: none;
	}
	.profileheader__profilestats--big,.profileheader__about--big{
		display: block;
	}
	.header--profile{
		padding: 20px 0 25px 0;
		margin-bottom: 25px;
	}

	.profileheader__picture{
		width: 20%;
	}
	.profileheader__right{
		width: 80%;
	}
	.profileheader__top__title{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.profileheader__username{
		font-size: 1.7em;
		margin: 0 20px 0 0;
		padding: 0;
	}
	.profileheader__profilestats--big{
		margin: 0;
		padding: 0 0;
		display: flex;
		justify-content: space-between;
		border-top: none;
		font-weight: bold;
		max-width: 340px;
	}
	.profilestats__item{
		display: flex;
		flex-direction: row;
		text-align: center;
		width: auto;
	}
	.profilestats__item span{
		padding: 0 5px 0 0;
	}
}